div{
    margin-left : 44%;
}
label{
    font-size : 27px;
}
input{
    min-width : 250px;
    
}
input:focus{
    border-color: blue;
    outline : none;
}
textarea{
    min-width : 300px;
    min-height : 70px;
    line-height : 20px;
    padding : 5px;
    border-radius : 15px;
}
textarea:focus{
    border-color: blue;
    outline : none;
}
table{
    margin-left : 25%;
    margin-top : 2%;
}
th{
    min-width : 200px;
    text-align : center;
    background-color: green;
    font-size : 23px;
}
td{
    min-width : 201px;
    max-width : 200px;
    text-align : center;
    font-size : 17px;
}
.initial{
    min-width : 55px;
    min-height : 30px;
    background-color : blue;
    color : white;
    font-size : 17px;
    border-color : white;
    border-radius : 15px;
    padding : 3px;
    margin-top : 5px;
    margin-right : 4px;
}
.del{
    min-width : 55px;
    min-height : 25px;
    background-color : red;
    color : white;
    font-size : 15px;
    border-color : white;
    padding : 3px;
    border-radius : 6px;
}
a{
    font-size: 18px;
    margin-right : 6px;
    color : blue;
    text-decoration : none;
}